Flujo_transmetro/web/WEB-INF/wsdl/envydv4t5200_8080/Flujo_transmetro/Operacioens.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://edd.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://edd.com/">

<xs:element name="Iniciar" type="tns:Iniciar"/>

<xs:element name="IniciarResponse" type="tns:IniciarResponse"/>

<xs:element name="Logear" type="tns:Logear"/>

<xs:element name="LogearResponse" type="tns:LogearResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="Iniciar">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="IniciarResponse">
<xs:sequence>
<xs:element name="return" type="tns:server" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="server">
<xs:sequence>
<xs:element name="Arbol_Administradores" type="tns:avl" minOccurs="0"/>
<xs:element name="Arbol_choferes" type="tns:avl" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="avl">
<xs:sequence>
<xs:element name="raiz" type="tns:nodoAVL" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nodoAVL">
<xs:sequence>
<xs:element name="data" type="xs:anyType" minOccurs="0"/>
<xs:element name="ptr_izquierdo" type="tns:nodoAVL" minOccurs="0"/>
<xs:element name="ptr_derecho" type="tns:nodoAVL" minOccurs="0"/>
<xs:element name="fe" type="xs:int"/>
<xs:element name="altura" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Logear">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LogearResponse">
<xs:sequence>
<xs:element name="return" type="tns:server" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>