Cliente/Flujo_transmetro_cliente/src/conf/xml-resources/web-service-references/Operacioens/wsdl/envydv4t5200_8080/Flujo_transmetro/Operacioens.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://edd.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://edd.com/" name="Operacioens">
<types>
<xsd:schema>
<xsd:import namespace="http://edd.com/" schemaLocation="http://envydv4t5200:8080/Flujo_transmetro/Operacioens?xsd=1"/>
</xsd:schema>
</types>
<message name="Iniciar">
<part name="parameters" element="tns:Iniciar"/>
</message>
<message name="IniciarResponse">
<part name="parameters" element="tns:IniciarResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="Logear">
<part name="parameters" element="tns:Logear"/>
</message>
<message name="LogearResponse">
<part name="parameters" element="tns:LogearResponse"/>
</message>
<portType name="Server">
<operation name="Iniciar">
<input wsam:Action="http://edd.com/Server/IniciarRequest" message="tns:Iniciar"/>
<output wsam:Action="http://edd.com/Server/IniciarResponse" message="tns:IniciarResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://edd.com/Server/helloRequest" message="tns:hello"/>
<output wsam:Action="http://edd.com/Server/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="Logear">
<input wsam:Action="http://edd.com/Server/LogearRequest" message="tns:Logear"/>
<output wsam:Action="http://edd.com/Server/LogearResponse" message="tns:LogearResponse"/>
</operation>
</portType>
<binding name="ServerPortBinding" type="tns:Server">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Iniciar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Logear">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Operacioens">
<port name="ServerPort" binding="tns:ServerPortBinding">
<soap:address location="http://envydv4t5200:8080/Flujo_transmetro/Operacioens"/>
</port>
</service>
</definitions>